@mixin flex ($justify-content: center, $align-items: center, $flex-direction: column) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
}

@mixin grid {
    display: grid;
    // place-items: center;
}

@mixin minWidth {
    min-width: 320px;
}


@mixin padding ($padding-right: 28px, $padding-left: 25px) {
    padding: 0 $padding-right 0 $padding-left;
}

@mixin roboto ($font-weight: 700) {
    font-family: 'Roboto';
    font-weight: $font-weight;
}

