.banner {
    @include minWidth;
    @include padding;
    margin: 23px 0 28px;
    box-sizing: border-box;
    width: 100%;

    @media (min-width: $bp-tablet) {
        @include padding(92px, 80px);
        margin: 43px 0 56px;
    } 

    @media (min-width: $bp-desktop) {
        @include padding(215px, 215px);
        margin: 51px 0 66px;
    } 
}

.banner__img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}