.footer {
    background: #000000;
    @include minWidth;
}

.footer__container { 
    @include flex;
    box-sizing: border-box;
    width: 100%;    
    padding: 0 35px 47px 35px;

    @media (min-width: $bp-tablet) {
        padding-bottom: 56px;
    } 

    @media (min-width: $bp-desktop) {
        padding-bottom: 70px;
    } 

}

.footer__title {
    @include roboto;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    padding: 38px 0 8px;
    color: #FEFEFE; 

    @media (min-width: $bp-tablet) {
        font-size: 16px;
        padding: 57px 0 22px;
    }

    @media (min-width: $bp-desktop) {
        padding: 66px 0 22px;
    }
}

.footer__text {
    @include roboto(400);
    font-size: 12px;
    line-height: 20px;
    color: #B9B9B9;
    text-align: center;
    max-width: 684px;

    @media (min-width: $bp-tablet) {
        font-size: 16px;
    }
}

.footer__icons-wrapper {
    list-style: none;
    @include flex(center, center, row);
    gap: 6px;
    padding: 26px 0 25px;
}

.footer__adress {
    @include roboto(400);
    @include flex;
    font-size: 14px;
    line-height: 24px;
    color: #B9B9B9;

    @media (min-width: $bp-tablet) {
        @include flex(center, center, row);
        font-size: 16px;
    } 
}

