@import "../abstracts/mixin";
@import "../abstracts/variables";

.header {
    @include flex(end, center, row);
    @include minWidth;
    @include padding;
    box-sizing: border-box;
    width: 100%;
    margin-top: 23px;
    position: relative;


    @media (min-width: $bp-tablet) {
        @include flex(center, center, row);
        margin-top: 41px;
    } 

    @media (min-width: $bp-desktop) {
        margin-top: 45px;
    } 
}

.header__burger-menu {
    @include flex;
    gap: 2px;
    background-color: #000000;
    padding: 17px 13px;


    @media (min-width: $bp-tablet) {
        background-color: transparent;
        padding: 0;
    } 
}

.header__burger-menu-first-line {
    background-color: #FFFFFF;
    width: 17px;
    height: 2px;

    @media (min-width: $bp-tablet) {
        display: none;
    } 
}

.header__burger-menu-second-line {
    background-color: #FFFFFF;
    width: 17px;
    height: 2px;

    @media (min-width: $bp-tablet) {
        display: none;
    } 
}

.header__burger-menu-first-line::before {
    display: block;
    position: absolute;
    content: "";
    right: 41px;
    bottom: 25px;
    width: 17px;
    height: 2px;
    background-color: #FFFFFF;
}

.active {
    transform: rotate(45deg);
    transition: transform 0.5s ease; 
}

.active-line {
    display: block;
    position: absolute;
    right: 41px;
    bottom: 17px;
    transform: rotate(-45deg);
    transition: transform 0.5s ease; 
}


.menu-wrapper {
    display: none;
    position: absolute;
    right: 28px;
    top: 36px;
    width: 182px;
    max-width: 1200px;
    background-color: #F5F5F5;
    color: $title-color;
    z-index: 1;
    box-sizing: border-box;
    list-style: none;

    @media (min-width: $bp-tablet) {
        @include flex (center, center, row);
        gap: 33px;
        background-color: transparent;
        position: static;
        padding: 0;
    } 

    @media (min-width: $bp-desktop) {
        gap: 68px;
    } 

    li {
        @include roboto(400);
        font-size: 11px;
        line-height: 22px;
        letter-spacing: 1.1px;
        text-transform: uppercase;
        white-space: nowrap;
        box-sizing: border-box;
        width: 182px;
        padding: 5px 0 8px 13px;
        cursor: pointer;
    }

    li:hover {
        background: #E5E5E5;

        @media (min-width: $bp-tablet) {
            background: transparent;
        } 
        /*напевно тут повинно було бути :focus але в данному
        випадку не видно буде його дію, тому hover*/
    }

    a {
        text-decoration: none;
        color: $title-color;
    }

    a:hover  {
        color: #57A4A4;
    }

}

.active-wrapper {
    @include flex(center, start);

    @media (min-width: $bp-tablet) {
        @include flex (center, center, row);
    } 
}



