.instagram {
    @media (min-width: $bp-tablet) {
        background:rgba(0, 0, 0, 0.07)
    }   
}

.instagram__content-container {
    @include minWidth;
    @include padding;
    box-sizing: border-box;
    width: 100%;    
    padding-bottom: 42px;

    @media (min-width: $bp-tablet) {
        @include padding(92px, 80px);
        padding-bottom: 50px;
    }   
    
    @media (min-width: $bp-desktop) {
        @include padding(215px, 215px);
        padding-bottom: 49px;
    } 
}

.instagram__title {
    @include roboto;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: $title-color;
    padding: 38px 0 35px;

    @media (min-width: $bp-tablet) {
        font-size: 16px;
        padding: 47px 0 35px;
        @include flex(space-between, center, row);
    } 


    @media (min-width: $bp-desktop) {
        padding: 47px 0 24px;
    } 

    a {
        text-decoration: none;
        cursor: pointer;
        font-size: 13px;
        color: $title-color;
        display: none;

        @media (min-width: $bp-tablet) {
            display: inline;
        } 
    }
}

.instagram__card-wrapper {
    list-style: none;
    @include flex (start, center, row);
    gap: 10px;
}

.instagram__card-item {
       img {
        max-width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    } 
}

.card-item2,
.card-item3,
.card-item4 {
    display: none;
}

.card-item2,
.card-item3, {
    @media (min-width: $bp-tablet) {
        display: block;
    } 
}

.card-item4 {
    @media (min-width: $bp-desktop) {
        display: block;
    } 
}

