.posts {
    @include minWidth;
    @include padding;
    box-sizing: border-box;
    width: 100%;

    @media (min-width: $bp-tablet) {
        @include padding(92px, 80px);
    } 

    @media (min-width: $bp-desktop) {
        @include padding(215px, 215px);
    } 
}

.posts__title {
    @include roboto;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: $title-color;
    margin-bottom: 23px;

    @media (min-width: $bp-tablet) {
        font-size: 16px;
        margin-bottom: 24px;
    } 

   
}

.posts__wrapper {
    list-style: none;
    @include grid;

    grid-template-areas: 
    "post-item1"
    "post-item2"
    "post-item3"
    "post-item4"
    ;
    grid-gap: 29px;
    margin-bottom: 11px;

    @media (min-width: $bp-tablet) {
        grid-gap: 32px;
        margin-bottom: 60px;
    } 

    @media (min-width: $bp-desktop) {
        grid-template-areas: 
        "post-item1 post-item3"
        "post-item2 post-item4"
        ; 

        margin-bottom: 69px;
    } 
}

.posts__items {
    text-decoration: none;
    cursor: pointer;
    @include flex(center, start);
    gap: 11px;

    @media (min-width: $bp-tablet) {
        @include flex(start, start, row);   
        gap: 21px;    
    } 

}

.posts__items-content {
    
    h2 {
        @include roboto;
        color: $title-color;
        font-size: 14px;
        line-height: 30px;

        @media (min-width: $bp-tablet) {
            font-size: 16px;
        } 
    }

    span {
        @include roboto(400);
        color: $coments-color;
        font-size: 11px;
        line-height: 20px;

        @media (min-width: $bp-tablet) {
            font-size: 12px;
        } 
    }

    p {
        display: none;
        @include roboto(400);
        color: $text-color;
        font-size: 14px;
        line-height: 26px;

        @media (min-width: $bp-tablet) {
            display: block;
        } 
    }
}


.post-item4 {
    display: none;

    @media (min-width: $bp-tablet) {
        @include flex(start, start, row);   
        gap: 21px;   
    } 
}
/*areas-------*/
.post-item1 {
    grid-area: item1;
}

.post-item2 {
    grid-area: item2;
}

.post-item3 {
    grid-area: item3;
}

.post-item4 {
    grid-area: item4;
}